// Typography
$font-primary: "Lora", "Arial", sans-serif;
$font-optional-1: "Raleway", "Helvetica", sans-serif;

// Color scheme
$color_black: #000000;
$color_white: #ffffff;
$color_white_trns_90: rgba(256,256,256,.9);
$color_primary: #1E0F00;

$color_optional-1: #90857A;
$color_optional-2: #F5F2F0;
$color_optional-2-trns: rgba(144, 133, 122, .9);
$color_optional-3: #90857A;
$color_optional-4: #1a1510;

$color_shadow: rgba(0,0,0,0.15);
