<footer class="footer">

  <div class="footer__wrap container">

    <!-- Sections -->
    <ul class="footer__sections">

      <!-- Sections -->
      <li class="footer__section">

        <p class="footer__section-title">Разделы</p>

        <ul class="footer__section-list">

          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">Обучение</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">Родителям</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">Преподавателям</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">О школе</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">Документация</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="./section.html">Контакты</a>
          </li>

        </ul>

      </li>

      <!-- Useful -->
      <li class="footer__section">

        <p class="footer__section-title">Полезное</p>

        <ul class="footer__section-list">

          <li class="footer__section-item">
            <a class="footer__section-link" href="https://www.culture.ru/" link="nofollow" target="_blank">Проект "Культура.РФ"</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="https://sochisirius.ru/" link="nofollow" target="_blank">Образовательный центр "Сириус"</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="http://window.edu.ru/" link="nofollow" target="_blank">Единое окно доступа к информационным ресурсам</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="https://samara.edu.ru/" link="nofollow" target="_blank">Образование и наука Самарской области</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="https://vmeste-region.ru/" link="nofollow" target="_blank">Платформа "Вместе!"</a>
          </li>
          <li class="footer__section-item">
            <a class="footer__section-link" href="http://samara.ru/" link="nofollow" target="_blank">Губернский портал Samara.ru</a>
          </li>

        </ul>

      </li>

      <!-- Feedback -->
      <li class="footer__section">

        <p class="footer__section-title">Контакты</p>

        <!-- Social -->
        <ul class="footer__section-social social">

          <li class="social__item">
            <a class="social__link" href="/">Страница в Instagram
              <img class="social__img social__img--instagram" src="./imgs/img_icon_instagram.svg" alt="Логотип Instagram">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="/">Страница в Facebook
              <img class="social__img social__img--facebook" src="./imgs/img_icon_facebook.svg" alt="Логотип Facebook">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="/">Страница в Вконтакте
              <img class="social__img social__img--vk" src="./imgs/img_icon_vk.svg" alt="Логотип Вконтакте">
            </a>
          </li>

        </ul>

        <a class="footer__phone" href="tel:+78482243489">+7 (8482) 24 34 89</a>
        <a class="footer__mail" href="mailto:balakirevtlt@yandex.ru">balakirevtlt@yandex.ru</a>

      </li>

    </ul>

    <!-- Additional information -->
    <div class="footer__information">

      <div class="footer__information-license">

        <div class="footer__information-item">

          <span class="footer__information-copyright">
            &#169; Школа искусств им. М.А. Балакирева.
          </span>

        </div>

        <div class="footer__information-item">

          <div class="footer__information-owner">
            <!-- <img class="footer__information-logo" src="./imgs/img_icon_developer.svg" alt="Агентство Айтитач"> -->
            Будущим творцам от <a class="footer__information-developer" href="https://my-touch.ru/" target="_blank">Айтитач</a>.
          </div>

        </div>

      </div>

    </div>

  </footer>
